<div id="project_list">
	<ul>
	<% @projects.in_groups_of(3, false) do |row_projects| %>
		<% for project in row_projects %>
		    <li class="project_column" draggable="true" value="<%= project.id%>">
		    	<h2><%= link_to project.name, project %></h2>
				<%= link_to 'Show', project %>
			    <%= link_to 'Edit', edit_project_path(project) %>
			    <%= link_to 'Destroy', project, :method => :delete %>
			</li>
		<% end %>
	<% end %>
	</ul>
</div>
<div class="clearfix"></div>
<%= link_to 'Create Project', new_project_path, class: "btn btn-large btn-primary" %>